body {
  font-family: Sans-Serif;
  font-weight: 300;
}

.Button {
  background-color: grey;
  color: white;
  padding: 15px;
  font-size: 15px;
  width: 30%;
  display:inline-block;
  font-family: Sans-Serif;
  font-weight: 300;
}

.Container {
  text-align: center;
  padding: 1px;
  margin-bottom: 10px;
  width: 25%;
  margin-left: 3%;
}

#PrevButton {
  float: left;
}

#NextButton {
  float: right;
}
