.TaskImageContainer {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50%;
  display: inline-block;
}
.Detector {
  z-index: 1000;
  display: inline-block;
  position: absolute;

}

.Canvas {
  z-index: 1;
  display: inline-block;
  border: 1px solid black;
}


.Offset {
  left: 35%;
  top: 20px;
  position: absolute;

}
.Annotation {
  z-index: 10;
  color: red;
  display: inline-block;
  border: 2px solid red;
  position: absolute;
  left: 0px;
  top: 0px;
}



.Header {
  /* height: 40px; */
  width: 100%;
  margin: 0 auto 20px;
  background-color: black;
  color: white;
  padding: 15px 0px;
}

#TaskInstructionsContainer{

  margin-top: 20px;
}

#InstructionsText {
  width: auto;
  padding: 15px;
  border: solid 1px black;
  text-align: left;
  margin-bottom: 0px;
}

#AnnotationChoicesContainer {
  height: 80px;
}

#AnnotationHeader {
  width: 40%;
  margin-left: 0px;
  float: left;
  display: inline;
}

#LabelsForm {
  display: inline;
  width: 20%;

}



#TaskForm {
  margin: 0px auto 5px;
}

#CommentsBox{
  width: calc(100% - 30px);
  height: 100px;
  overflow-wrap: anywhere;
  resize: none;
  padding: 15px 15px;
}



#ReportButton {
  float: left;
}

#SubmitButton {
  float: right;
  background-color: navy;
}
